<!-- collapsible component -->
<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <!-- icon component -->
    <div class="icon icon--white collapsible__chevron">
      <img src="images/chevron.svg" />
    </div>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, voluptates odio. Similique,
    porro mollitia vel earum velit excepturi odit, error consequatur soluta dolores itaque dolore
    dolorem quas sint repellat minima.
  </div>
</div>
