<!-- navbar component -->
<!-- collapsible component -->
<nav class="nav collapsible">
  <a class="nav__brand" href="/">
    <img src="images/logo.svg" alt="" />
  </a>
  <!-- icon component -->
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu" />
  </svg>
  <!-- list component -->
  <ul class="list nav__list collapsible__content">
    <li class="list__item nav__item"><a href="#">Hosting</a></li>
    <li class="list__item nav__item"><a href="#">VS</a></li>
    <li class="list__item nav__item"><a href="#">Domain</a></li>
    <li class="list__item nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
