<!-- block component -->
<section class="block">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, temporibus.</p>
    </header>
  </div>
</section>

<!-- block component -->
<section class="block block--dark block--skewedLeft">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, temporibus.</p>
    </header>
  </div>
</section>

<!-- block component -->
<section class="block block--dark block--skewedRight">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, temporibus.</p>
    </header>
  </div>
</section>
