<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, vel blanditiis. Saepe itaque,
    sunt praesentium ab nam doloribus, obcaecati quasi ipsa quas dignissimos ut sint dolorum vitae
    consequatur dolorem deserunt.
  </p>
  <footer>
    <div class="media">
      <div class="media__image quote__line">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line" />
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__company">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
